
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}
  <!-- no need <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151"> -->
  <body>
	<!-- 2017/08/03: index page use height 100% to show bg img correctly -->
	<!-- no footer in index page, so no need #content here -->
	<div /*id="content"*/ style="height:100%">
		{% include navigation.html %}
		{% include header.html %}

		{% for p in site.pages_list %}
			{% for page in site.pages %}
				{% if p[1] == page.section-type %}
					{% include {{ page.path }} %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
	<!-- remve footer in index page -->
    {% include js.html %}
  </body>
</html>

<!-- Index Layout End -->
