
<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body style="background-color: {{site.bg_color}}">
	<!-- Sticky Footer to make footer at page bottom 2017/08/03 -->	
	<div id="content">
		{% include navigation.html %}
		<section id="post" class="container content-section text-center" style="display: block;background-color: white;">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
            		<h1><strong>{{ page.title }}</strong></h1>
		    		<h5>
		    		<ul class="list-inline">
						<!-- {% capture year %} {{ page.date | date:"%Y" |lstrip }} {% endcapture %} -->
						{%  assign year = page.date | date:"%Y" %}
						<li><a href="/year/{{year}}"> <i class="fa fa-calendar" aria-hidden="true" style="letter-spacing:-1px">{{ page.date | date: "%Y/%m/%d" }}</i></a></li>
						{% for ca in page.category %}
							<li><a href="/category/{{ ca }}"><i class="fa fa-folder-open" aria-hidden="true">{{ ca }}</i></a></li>
						{% endfor %}
						<!-- <li><a href="#todo"><i class="fa fa-comments" aria-hidden="true">#comments</i></a></li> -->
						{% for tag in page.tags %}
							<li><a href="/tag/{{ tag }}"><i class="fa fa-tags" aria-hidden="true">{{ tag }}</i></a></li>
						{% endfor %}
		    		</ul>
		    		</h5>
		    		<hr style="border-color: green;border-width: 2px;">
            		<section class="text-justify">
            		  {{ page.content }}
            		</section>
		  
					<br>
					<br>
					<!-- % include share.html % -->
					<div style="display:block">
					<h4 style="text-align:left"> 分享到: 
					<div class="social-share share-component" data-sites="weibo,wechat,qq,qzone"></div>
					</div>
					</h4>
					<br>
					<br>
					<br>
					<!-- the previous/next page navigation -->
					<div class="PageNavigation">
					  {% if page.previous.url %}
					    <a class="prev" href="{{page.previous.url}}"> 
							<span class="prev_next_text">
								<i class="fa fa-angle-left" aria-hidden="true"></i>上一篇
							</span>
							<br>
							{{page.previous.title}}
						</a>
					  {% endif %}
					  {% if page.next.url %}
					    <a class="next" href="{{page.next.url}}">
							<span class="prev_next_text">
								下一篇<i class="fa fa-angle-right" aria-hidden="true"></i>
							</span>
							<br>
							{{page.next.title}}
						</a>
					  {% endif %}
					</div>

		    		{% include comments.html %}
				</div>
			</div>

		</section>
	</div>
	{% include disqus.html %}
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>

<!-- Post Layout End -->
